h1{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Volkhov', serif;
}
h3{
    font-family: 'Poppins', sans-serif;
     
}
p{
    font-family: 'Volkhov', serif;
}
ul li a{
    font-family: 'Poppins', sans-serif;
}